<div class="layout-wrapper">

  <p-toolbar class="layout-navbar">
    <ng-template pTemplate="start">
      <span class="app-logo">Plan<span class="app">IQ</span> </span>
    </ng-template>

    <ng-template pTemplate="end">
      <button class="logout-btn" (click)="logout()">
        <i class="pi pi-sign-out"></i>
        Logout
      </button>
    </ng-template>
  </p-toolbar>

  <div class="layout-body">

    <aside class="layout-sidebar">

      <button class="add-btn">
        <i class="pi pi-plus"></i>
        Add Sub
      </button>

      <nav class="sidebar-menu">
        <a routerLink="/dashboard" routerLinkActive="active">
          <i class="pi pi-home"></i>
          <span>Dashboard</span>
        </a>

        <a routerLink="/users" routerLinkActive="active">
          <i class="pi pi-users"></i>
          <span>Users</span>
        </a>

        <a routerLink="/settings" routerLinkActive="active">
          <i class="pi pi-cog"></i>
          <span>Settings</span>
        </a>
      </nav>

    </aside>

    <main class="layout-content">
      <router-outlet></router-outlet>
    </main>

  </div>
</div>