.header{
  margin-top: 0.5rem;
  font-size: 20px;
}
.sub-headrer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;   /* keeps text top-aligned */
}

.text-content small {
  display: block;            
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #64748B;
}
.create-sub-btn{
  color: #0058BE;
 

}