<div class="main-container">
    <div class="section-1">
    <section>
        <div class="sec-1-text">
            <h1>AI- Powered Study Planner</h1>
            <h2>For Smarter Learning</h2>
            <div class="sec-2-text">
            <h3>PlanIQ helps you organize tasks,track progress,and boost</h3>
            <h3>your placement readiness with AI.</h3>
        </div>
        </div>
        

        <div class="sec-1-img">
            <img src="assets/study.svg" alt="study illustration">
        </div>
    </section>
</div>

<div class="question-sec">
    <section>
        <div class="Q-sec-text">
           <h1>What is <span class="highlight">PlanIQ</span> ? </h1>
        </div>
        <div class="Q-sec-body">
            <h2><span class="">PlanIQ</span> is an intelligent study planner that uses AI to create personalyized schedules,</h2>
            <h2>track your progress, and provide smart recommendations</h2>
        </div>
    </section>

</div>






<div class="section-2">
    <section>
        <div class="sec-3-text">
            <h1>How It Works</h1>
        </div>

        <div class="sec-images">
            <div class="card">
                 <img src="assets/login.svg" alt="login illustration"> 
                 <p>Login & Track Progress </p>
            </div>
           <div class="card">
            <img src="assets/Calendar.svg" alt="calendar illustration"> 
            <p>Get Your AI Study Plan</p>
           </div>
            <div class="card">
                 <img src="assets/progress.svg" alt="study illustration"> 
                 <p>Track & Improve Daily</p>
            </div>
           
        </div>
      
    </section>
</div>
<div class="end-section">
    <section>
        <div class="end-sec-text">
            <h1>Your Smart Study Dashboard</h1>
        </div>
        <div class="end-sec-img">
            <div class="card">
                <img src="assets/Dashboard.svg" alt="dashboard illustration">
            </div>
        </div>
        <button class="start-btn"(click)="redirect()">
  Start Planning Now 🚀
</button>
    </section>
</div>
</div>

