<div class="main-container">
  <div class="logo">Helio</div>
  <div class="section-1">

    <div class="sec-1-text">
          <div class="sec-1-badge">
        <small>Ai-Powered Study Planner</small>
    </div>
      <h1>
        <span class="black-text"> Your study plan,</span>
        <span class="blue-text">rebuilt everyday.</span>
      </h1>
      <div class="sec-1-subtext">
        <small>
          Helio takes your goals, deadlines and free hours, then
          drafts a weekly schedule that adapts every time you check
          in. No more dragging blocks at midnight.
        </small>
      </div>
    </div>
    <div class="sec-1-img">
      <img src="assets/Dashboard-cuate.svg">
    </div>
  </div>




  <div class="section-2">


  </div>
</div>