
<div class="container">

<div class="card">
    <div class="heading">
        <h1>SignUp</h1>
    </div>
            <div class="flex flex-col md:flex-row">
                <div class="w-full md:w-5/12 flex flex-col items-center justify-center gap-3 py-5">
                    <div class="flex flex-col gap-2 username-field">
                        <label for="username">Username</label>
                        <input pInputText id="username" type="text" />
                    </div>
                    <div class="flex flex-col gap-2 password-field">
                        <label for="password">Password</label>
                        <input pInputText id="password" type="password" />
                    </div>
                    <div class="log-btn">
                        <p-button label="Login" icon="pi pi-user" class="w-full max-w-[55rem]" styleClass="w-full mx-auto" />
                    </div>
                </div>
                <div class="w-full md:w-2/12">

                    <p-divider layout="horizontal" class="!flex md:!hidden" align="center"><b>OR</b></p-divider>
                </div>
                <div class="w-full md:w-5/12 flex items-center justify-center py-5 signUp-btn">
                    <p-button label="Sign Up" icon="pi pi-user-plus" severity="success" class="w-full max-w-[17.35rem]" styleClass="w-full mx-auto" />
                </div>
            </div>
        </div>

</div>




